.nav_title {
    color: whitesmoke;
    font-size: 20px;
    margin-bottom: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: gray;
    transition: 0.4s;
}

ul li a:hover {
    text-decoration: none;
    color: white;
}