@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

html,
body {
    margin: 0;
    font-family: "Figtree", sans-serif;
    background-color: #18181c;
}
#root {
    display: flex;
    justify-content: center;
}